
:root{
    --bg-p-bg:#2F3D46;
    --bg-s-bg:#353535;
    --bg-h-bg: #cad2c5;
}

.bg-light{
    background-color:var(--bg-p-bg) !important;
}
.box1{
    margin-top: 5rem;
    border-radius: 2rem solid black !important;
    border-color:black !important;
    border-radius: 2rem;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    height: 80vh;
    background-color: var(--bg-s-bg);    
}

.box2{
    margin-top: 5rem;
    /* border-radius: 2rem solid black !important; */
    border-color:var(--bg-h-bg) !important;
    
    border-radius: 2rem;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    height: 80vh;
    background-color: var(--bg-h-bg);
}

.searchbox{
    margin-bottom:2.5vh;
    border-radius:0.7rem;
    height:7vh;
    background-color: var(--bg-s-bg);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1vh;
    /* Total Vh - 9.5Vh */
}

.box3{
    margin-top: 10vh;
    height:30vh;
} 
/* 40vh */

.box4{
   width: 30.33%;
   margin-right: 3%;
   margin-left: 2%;
   background-color: var(--bg-s-bg);
   border-radius:1.2rem ;
   height: 25vh;
 
}

.box5{
    width: 30.33%;
    margin-right: 3%;
    margin-left: 2%;
    background-color: var(--bg-s-bg);
    border-radius:1.2rem ;
    height: 25vh;
}

.box6{
    width: 30.33%; 
    margin-right: 3%;
    margin-left: 2%;
    background-color: var(--bg-s-bg);
    border-radius:1.2rem ;
    height: 25vh;
}

/* total 30 vh for centre box */

.box7{
    margin-top: 5vh;
    height:24.2vh;
    background-color: var(--bg-s-bg);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1.2rem;
}
    
/* As of now 39.5 vh */

